@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color: theme("colors.primary-100");
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  .mobile {
    @apply md:hidden;
  }
  .desktop {
    @apply hidden md:block;
  }
  .main__container {
    @apply w-screen h-screen bg-primary-900;
  }
  .section__container {
    @apply fixed h-screen snap-mandatory snap-y overflow-scroll;
    @apply md:w-screen;
  }
  /* */
  .section {
    @apply mb-[0.5px] h-full snap-start snap-always flex justify-center items-center;
    @apply md:flex-row;
  }

  .card {
    @apply min-h-fit flex flex-col rounded-2xl drop-shadow-2xl shadow-md;
  }

  .section__heading {
    @apply uppercase text-center text-2xl font-light;
  }
  .form__container {
    @apply flex flex-col justify-evenly items-center h-3/5;
  }

  .form__input {
    @apply outline-none w-full py-2 px-4 rounded-3xl bg-primary-900 text-primary-100;
  }
}

@layer utilities {
  .mobile-scroll {
    -webkit-overflow-scrolling: touch;
  }
  .scrollbar-sm::-webkit-scrollbar {
    width: 2px;
  }
  .list__cards {
    @apply h-[90%] w-[80%];
  }

  .space__cards {
    @apply h-full flex flex-col justify-evenly;
    @apply md:flex-row md:items-center;
  }

  .view__more {
    @apply underline underline-offset-8  font-light tracking-widest text-center animate-bounce;
  }
}
