@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color: theme("colors.slate[100]");
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  .mobile {
    @apply md:hidden;
  }
  .desktop {
    @apply hidden md:block;
  }
  .main__container {
    @apply fixed inset-0 w-screen h-screen bg-slate-900 overflow-hidden;
  }
  .section__container {
    @apply fixed inset-0 h-screen w-screen snap-mandatory snap-y overflow-y-auto;
    @apply md:w-screen;
  }
  .section {
    @apply relative mb-[1px] mt-[1px] h-screen snap-start snap-always flex justify-center items-center overflow-auto;
    @apply md:flex-row lg:pt-12;
  }

  .card {
    @apply min-h-fit flex flex-col rounded-xl;
  }

  .section__heading {
    @apply uppercase text-center text-2xl font-light;
  }
  .form__container {
    @apply flex flex-col justify-evenly items-center;
  }

  .form__input {
    @apply outline-none w-full py-2 px-4 rounded-3xl bg-slate-200/10;
  }
}

@layer utilities {
  .center {
    @apply flex justify-center items-center;
  }
  .scrollbar-sm::-webkit-scrollbar {
    width: 2px;
  }
  .list__cards {
    @apply z-30 h-[90%] w-[80%];
  }

  .space__cards {
    @apply h-full flex flex-col justify-evenly;
    @apply md:flex-row md:items-center;
  }

  .view__more {
    @apply cursor-pointer underline underline-offset-8  font-light tracking-widest text-center animate-bounce;
  }
}
